.card {
    margin-top: 60px;
    margin-left: 200px;
    margin-bottom: 60px;
    background-color:gold;
    display: inline-block;
    position: relative;
    margin: 5%;
}

.card-title {
    font-weight: bold;
}

button {
    color: rgb(0, 0, 0);
}

